body {
text-align: center;
color: #ffff66;
background-color: gray;
font-family: "PT Sans", Arial, Helvetica, sans-serif;
font-size: 18px;
}

img {
  max-width: 300px;
  max-height: 300px;
  border-style: solid;
  border-radius: 15px;
  border-width: 6px;
  border-color: black;
}

li.image {
  list-style: none;
  margin-bottom: 1em;
}



.state_list_box {
  max-width: 800px;
  max-height: 320px;
  border-style: solid;
  border-radius: 15px;
  border-width: 6px;
  border-color: #500000;
  margin: auto;
  background-color: #C0C0C0;
}

