<p>HELLO <%= @playlist.user.name %></p>

<p> Editing "<%= @playlist.title %>" </p>


<ul>
  <% @states = State.all %>
<% @states.each do |state| %>
  <li><%= link_to state.name, "/playlists/#{@playlist.id}/#{state.name}/edit" %></li>


  <% end %>
</ul>
